* {
    margin: 0;
}

body {
    background-color: #f5f5f5;
    max-width: calc(52rem + (2 * 1.5rem));
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
}

.page-wrapper {
    margin: 0 1.5rem 6rem 1.5rem;
}

nav {
    margin: 2rem 0 3.5rem 0;
}

@media only screen and (max-width: 780px) {
    nav {
        margin-bottom: 3rem;
    }
}

main {
    margin-top: 2.5rem;
}

.checkout-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 780px) {
    .checkout-wrapper {
        flex-direction: column;
        justify-content: start;
    }
}

header {
    margin-right: 5rem;
}

@media only screen and (max-width: 780px) {
    header {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

h1 {
    font-size: 2.25rem;
    line-height: 1;
    font-weight: normal;
}

header > h1 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 780px) {
    header > h1 {
        margin-bottom: 0.75rem;
    }
}

header > p {
    color: #707070;
    line-height: 1.5rem;
    margin: 0 5rem 0 0;
}

@media only screen and (max-width: 780px) {
    header > p {
        margin: 0;
    }
}



.total {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 100%;
    max-width: 192px;
}

@media only screen and (max-width: 780px) {
    .total {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: none;
        border-top: 1px solid #DFDFDF;
        padding-top: 1.25rem;
    }
}

.total-title-header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 1rem;
}

.total-title-wrapper {
    display: flex;
    align-items: baseline;
}

@media only screen and (max-width: 780px) {
    .total-title-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}

.total-title {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #707070;
    text-transform: uppercase;
    margin-right: 0.25rem;
}

@media only screen and (max-width: 780px) {
    .total-title {
        margin-bottom: 4px;
    }
}

.total-title-currency {
    font-size: 0.675rem;
    line-height: 0.7rem;
    color: #707070;
    text-transform: none;
    white-space: nowrap;
    margin-right: 0.75rem;
}

.total-title-rule {
    height: 1px;
    width: 100%;
    border-top: 1px solid #DFDFDF;
}

@media only screen and (max-width: 780px) {
    .total-title-rule {
        display: none;
    }
}


.total-amount-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.amount-in-usd {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    margin-bottom: 0.25rem;
}

.amount-in-usd > span {
    font-size: 1.25rem;
    margin-right: 0.25rem;
}

.amount-in-sol {
    display: flex;
    align-items: center;
}

.amount-in-sol > h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: normal;
}

.solana-logo {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.solana-logo-small {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    vertical-align: baseline;
}

#manifesto-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    box-shadow: 0 8px 25px rgb(0 0 0 / 0.12), 0 0 4px -4px rgb(0 0 0 / 0.3);
    height: 13rem;
    width: 9rem;
    padding: 1.25rem 1.5rem;
    flex-shrink: 0;
    font-size: 0.75rem;
    line-height: 1rem;
}

@media only screen and (max-width: 780px) {
    #manifesto-preview {
        display: none;
    }
}

#manifesto-preview > p:first-child {
    margin-top: 0;
}

#manifesto-preview > p {
    margin-top: 1rem;
}

.checkout-cards-wrapper {
    margin-right: 4.5rem;
    width: 100%;
}

.checkout-card {
    display: flex;
    position: relative;
    background-color: white;
    border: 1px solid #e7e7e7;
    box-shadow: 0 2px 12px -4px rgb(0 0 0 / 5%), 0 0 4px -4px rgb(0 0 0 / 10%);
    padding: 1.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 780px) {
    .checkout-card {
        margin: 0 -1.5rem 1rem;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

.checkout-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 4px;
    z-index: 1;
    cursor: not-allowed;
}

.checkout-card * b {
    color: #444;
}

.checkout-card-number {
    margin: 0 1.25rem 0 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: normal;
    color: #707070;
}

.checkout-card * h2 {
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-style: italic;
    margin-bottom: 0.75rem;
}

.checkout-card * p {
    margin-top: 0;
    color: #707070;
}

#manifesto {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    padding: 1.75rem 2rem;
    width: calc( - 54px);
    height: 30rem;
    border: 1px solid rgb(218, 218, 218);
    overflow-y: scroll;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #000;
    border-radius: 2px;
}

@media only screen and (max-width: 780px) {
    #manifesto {
        padding: 1.5rem;
    }
}

#manifesto > p:first-child {
    margin-top: 0;
}

#manifesto > p {
    color: #000;
    margin-bottom: 1rem;
}

button {
    font-size: 0.875rem;
    line-height: 1rem;
    padding: 0.25rem 0.5rem;
    margin-top: 1.75rem;
}

p + .error-message {
    border-radius: 2px;
    background-color: #f7eff4;
    border: 1px solid #e9d9d7;
    color: #8d5375;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 1rem;
}
