main {
    max-width: 900px;
    margin: 0 auto;
}

#manifesto-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.from-section + .forked-by-section  {
    display: flex;
}

.from-section + .forked-by-section > *  {
    margin: 0 8px 0 0;
}